.page {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: absolute;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.top-tag-body {
    bottom: auto;
    left: 4%;
    top: 7%;
    left: 7%;
    margin-left: 5%;
}

.bottom-tag-body {
    bottom: 10%;
    left: 7%;
    color: #ffd700;
    margin-left: 5%;
}

.top-tag-html {
    bottom: auto;
    left: 4%;
    top: 3%;
    margin-left: 5%;
}

.bottom-tag-html {
    bottom: 5%;
    left: 4%;
    width: 100%;
    margin-left: 5%;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page,
.contact-page {
    left: 5%;
    flex-grow: 1;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: -1%;
                opacity: 0.6;
            }

            &::after {
                content: '</h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 90px;
                left: -1%;
                opacity: 0.6;
            }

        }

        p {
            font-size: 16px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}


@media only screen and (min-width: 500px) and (max-width: 600px) {
    .page {
        display: flex;
        height: 110%;
        position: absolute;
    }

    .nav-bar {  
        height: 110%; 
    }
    
    .about-page {  
        .myface {
            width: 40%;
            top: 6%;
            left: 170px;
            position: absolute;
        }
    
         .stage-cube-cont {
             width: 35%;
             height: 15%;
             top: 20%;
             left: 55%;
             padding-top: 18%;
             margin-left: 0;
             position: absolute;
             overflow: hidden;
         }

        .cubespinner {
            --translateZ: 50px;
            animation-name: spincube;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 12s;
            transform-style: preserve-3d;
            transform-origin: var(--translateZ) var(--translateZ) 0;
            margin-left: calc(50% - var(--translateZ));

        div {
            position: absolute;
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0px lightyellow;
        }
        }

 }

    .about-page,
    .contact-page {
        .text-zone {
            position: absolute;
            left: 10%;
            top: 55%;
            transform: translateY(-50%);
            width: 75%;
            vertical-align: middle;
            display: table-cell;
            max-height: 90%;

            h1 {
                font-size: 26px; 

                &::before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore';
                    color: #ffd700;
                    font-size: 18px;
                    position: absolute;
                    margin-top: -20px;
                    left: -1%;
                    opacity: 0.6;
                }
    
                &::after {
                    content: '</h1>';
                    font-family: 'La Belle Aurore';
                    color: #ffd700;
                    font-size: 18px;
                    position: absolute;
                    margin-top: 40px;
                    left: -1%;
                    opacity: 0.6;
                }
            }
        }
    }

    .home-page {
        left: 5%;
        flex-grow: 1;

        .text-zone {
            position: absolute;
            left: 20%;
            top: 55%;
            transform: translateY(-50%);
            width: 35%;
            vertical-align: middle;
            display: table-cell;
            max-height: 90%;

            h1 {
                font-size: 26px;
                font-family: 'Coolvetica';
                color: #fff;
                font-weight: 400;
                margin-top: 0;
                position: relative;
                margin-bottom: 40px;
                width: 120%;
                left: 10px;

                &::before {
                    content: '<h1>';
                    font-family: 'La Belle Aurore';
                    font-size: 16px;
                    line-height: 18px;
                    position: absolute;
                    left: -10px;
                    margin-top: 5%;
                    top: -30%;
                    opacity: 0.6;
                }

                &::after {
                    content: '</h1>';
                    font-family: 'La Belle Aurore';
                    font-size: 16px;
                    line-height: 18px;
                    position: absolute;
                    left: -30px;
                    bottom: -3%;
                    margin-left: 20px;
                    opacity: 0.6;
                }
            }

            p {
                font-size: 16px;
                line-height: 18px;
            }
        }

        /*
        .top-tags {
            bottom: auto;
            top: 35px;
        }
        
        .tags {
            color: #ffd700;
            opacity: 0.6;
            position: absolute;
            bottom: 0;
            left: 120px;
            font-size: 18px;
            font-family: 'La Belle Aurore';
        }
        
        .bottom-tag-html {
            margin-left: -20px;
        }
            */
    }
}




// @media only screen and (min-width: 601px) and (max-width: 900px) {
//     .page {
//         width: 100%;
//         height: 100%;
//         position: absolute;     
//         left: 5%;
//     }

//     .about-page, .contact-page {
//         .text-zone {
//             position: absolute;
//             left: 20%;
//             top: 50%;
//             transform: translateY(-50%);
//             width: 35%; 
//             vertical-align: middle;
//             display: table-cell;
//             max-height: 90%;

//             h1 {
//                 font-size: 26px;
//                 font-family: 'Coolvetica';
//                 color: #ffd700;
//                 font-weight: 400;
//                 margin-top: 0;
//                 position: relative;
//                 margin-bottom: 40px;
//                 left: 10px;

//                 &::before {
//                     content: '<h1>';
//                     font-family: 'La Belle Aurore';
//                     font-size: 6px;
//                     position: absolute;
//                     margin-top: -10px;
//                     left: -10px;
//                     opacity: 0.6;
//                     line-height: 18px;
//                 }

//                 &::after {
//                     content: '<h1 />';
//                     font-family: 'La Belle Aurore';
//                     font-size: 6px;
//                     line-height: 18px;
//                     position: absolute;
//                     left: -30px;
//                     bottom: -20px;
//                     margin-left: 20px;
//                     opacity: 0.6;
//                 }
//             }

//             p {
//                 font-size: 16px;
//                 line-height: 18px;
//             }
//         }
//     }
// }


// @media only screen and (min-width: 1200px) and (max-height: 700) {
//     .page {
//         width: 100%;
//         height: 100%;
//         position: absolute;     
//         left: 5%;
//         top: 3%;
//     }

//     .about-page, .contact-page {
//         .text-zone {
//             position: absolute;
//             left: 10%;
//             top: 50%;
//             transform: translateY(-50%);
//             width: 35%; 
//             vertical-align: middle;
//             display: table-cell;
//             max-height: 90%;

//             h1 {
//                 font-size: 26px;
//                 font-family: 'Coolvetica';
//                 color: #ffd700;
//                 font-weight: 400;
//                 margin-top: 0;
//                 position: relative;
//                 margin-bottom: 40px;
//                 left: 10px;

//                 &::before {
//                     content: '<h1>';
//                     font-family: 'La Belle Aurore';
//                     font-size: 6px;
//                     position: absolute;
//                     margin-top: -10px;
//                     left: -10px;
//                     opacity: 0.6;
//                     line-height: 18px;
//                 }

//                 &::after {
//                     content: '<h1 />';
//                     font-family: 'La Belle Aurore';
//                     font-size: 6px;
//                     line-height: 18px;
//                     position: absolute;
//                     left: -30px;
//                     bottom: -20px;
//                     margin-left: 20px;
//                     opacity: 0.6;
//                 }
//             }

//             p {
//                 font-size: 16px;
//                 line-height: 18px;
//             }
//         }
//     }
// }