
:root {
  --window-width: calc(100vw);
}

.catLoaderContainer {
    display: flex;
    position: fixed;
    left: 30%;
    top: 50%;
    margin-top: 8%;;
    right: 40px;
    bottom: 10%;
    height: 10%;
    background-color: #192833ff;

    &::before {
      content: '';
      background-image: url('../../assets/images/nyancat.gif');
      animation: fadeCatIn 1s 1.7s forwards;
  }

    &::after {
      content: '';
      background-image: url('../../assets/images/nyancat.gif');
      //animation: fadeCatOut 1s 1.7s backwards;
  }

  .nyanCatGif {
    width: 100px;
    height: 100px; 
    animation: moveCat 5s ease-in-out  infinite;
  }

  @keyframes moveCat {
    
    0% {
      transform: translateX(0); /* Start at position A */
    }
    100% {
      transform: translateX(calc(var(--window-width) * 0.9));; /* Move to position B */
    }
  }

  /*
  @keyframes fadeCatIn {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes fadeCatOut {
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
*/
  }

