html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background:   #192833ff;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
old bg: // #022c43;

myname {
  margin: 0;
  font-family: 300 11px/1.4 'Clicky Bricks', 'sans-serif';
  color: #f8c200;
  background: #149d74;
  overflow: hidden;
  display: inline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
    */
